/* - - - - - Portátil L - - - - - - */
@media(max-width: 1300px) {
  #contatos .contact-box {
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }

  .winner-project .category-1 {
    flex-wrap: wrap;
    gap: 29px;
  }

  /*winner primary*/

  .winner-1 {
    order: -1;
    position: relative;
  }

  .winner .img-winner {
    height: 413px;
    width: 729px;
  }

  .winner .border-winner {
    width: 742px;
    height: 431px;
  }

  .winner-secundary .winner .img-winner {
    width: 462px;
    height: 287px;
  }

  .winner-secundary .winner .border-winner {
    width: 474px;
    height: 302px;
  }

  .winner-project p {
    margin-bottom: 40px;
  }
}



/* - - - - - Portátil - - - - - - - */
@media(max-width: 1024px) {
  nav {
    display: none;
  }

  * {
    font-size: 12.8px;
  }

  /* ----- Menu Toggle ----- */



  .menu-toggle .one,
  .menu-toggle .three {
    background-color: var(--primary-color);
    height: 3px;
    width: 100%;
    transition: 0.3s;
    border-radius: 1px;
  }

  .menu-toggle .three {
    width: 70%;
    margin-top: 5px;
  }

  .menu-toggle:hover .one,
  .menu-toggle:hover .three {
    background-color: var(--text-white);
  }

  .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40px;
    height: 30px;
    cursor: pointer;
  }

  .menu-section.on {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    z-index: 40;

    background: no-repeat url(/img/background-home.png);
    background-size: cover;
    background-position: top;
  }

  .menu-section.on nav {
    display: block;
  }

  .menu-section.on .menu-toggle {
    position: absolute;
    top: 22px;
    right: 98px;
  }

  .menu-section.on .menu-toggle .one {
    width: 80%;
    transform: rotate(45deg) translate(1px, 0px);
  }

  .menu-section.on .menu-toggle .three {
    width: 80%;
    transform: rotate(-45deg) translate(6px, -5px);
  }

  .menu-section.on nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }



  header .content-header nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    color: var(--primary-color);
    background-color: var(--back-header);
    border: 2px solid var(--primary-color);

    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.75);

    font-size: 28px;
    width: min(500px, 80vw);
    font-weight: 400;
    display: flex;
    align-items: center;
    transition: 0.2s all;
  }

  header .content-header nav ul li a:hover {
    color: var(--back-header);
    background-color: var(--primary-color);
  }

  /* Home */

  #home {
    gap: 133px;
    padding: 150px 80px 90px 80px;
  }


  #home .text-box .text #subtitle {
    margin-bottom: 56px;
  }

  #home .text-box p {
    margin-bottom: 65px;
  }

  #home .image img {
    width: 183px;
  }

  #home .border-img {
    top: -20px;
    left: -11px;
    height: 394px;
    width: 200px;
  }

  #home .border-img .top {
    height: 216px;
    width: 205px;
  }

  #home .border-img .bot {
    height: 100px;
    width: 205px;
  }

  #home .text-box {
    max-width: 365px;
  }

  .info-img {
    margin-top: 40px;
  }

  .info-text {
    line-height: 18px;
    font-size: 13px;
  }

  .info-img-box {
    gap: 10px;
  }

  #home .text-box a,
  #home .text-box a:hover {
    padding: 17px 29px;
  }

  /* Winner Projects*/
  .winner-project .category-1 {
    flex-wrap: wrap;
  }

  .winner-project .category-1 .winner-1 {
    order: -1;
  }


  .winner-project h2 {
    color: var(--primary-color);
    font-size: 2.25rem;
  }

  .winner-project p {
    margin-bottom: 72px;
    font-size: 1.25rem;
  }

  .winner-project .text-description p {
    margin-bottom: 40px;
    font-size: 1.25rem;
  }

  .winner .img-winner,
  .winner-secundary .winner .img-winner {
    height: 407px;
    width: 554px;
  }

  .winner .border-winner,
  .winner-secundary .winner .border-winner {
    width: 569px;
    height: 431px;
  }

  /* All Projects*/
  .slider-group .all-projects-contact .github,
  .slider-group .all-projects-contact .linkedin {
    height: 28px;
    padding: 5px 40px;
  }

  .slider-group .all-projects-contact .github svg {
    margin: 0;
    height: 11.2px;
  }

  /* Depoimentos */
  .depoimentos {
    width: 100%;
    padding: 60px 80px;
  }

  #slider2 .content-area .content {
    height: 407px;
    width: 600px;
    gap: 30px;
    padding: 63px;
  }

  #slider2 .content-area .content .img-area {
    width: 400px;
    height: 265px;
  }

  /* CONTATOS */
  #contatos {
    width: 100%;
    padding: 60px 80px;
  }

  #contatos h2 {
    margin: 0;
    margin-bottom: 80px;
  }

  #contatos .contact-box {
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }

  #contatos .border-external {
    width: 299.2px;
    height: 216px;
  }

  #contatos .contact-box .border-top-1,
  #contatos .border-top-2,
  #contatos .border-mid-1,
  #contatos .border-mid-2,
  #contatos .border-bot-1,
  #contatos .border-bot-2 {
    padding: 8.8px;
  }

  #contatos .border-top-1,
  #contatos .border-bot-1 {
    width: 86.4px;
    height: 46.4px;
  }

  #contatos .border-top-2,
  #contatos .border-bot-2 {
    width: 192.8px;
    height: 46.4px;
  }


  #contatos .border-mid-1 {
    width: 86.4px;
    height: 108px;
    padding: 3.2px;
  }

  #contatos .border-mid-2 {
    width: 192.8px;
    height: 108px;
  }

  #contatos img {
    width: 80px;
    height: 100px;
  }

}

@media(max-width: 824px) {

  /* CONTATOS */
  #contatos {
    width: 100%;
    padding: 60px 40px;
  }

  #contatos .border-external {
    width: 374px;
    height: 270px
  }

  #contatos .contact-box .border-top-1,
  #contatos .border-top-2,
  #contatos .border-mid-1,
  #contatos .border-mid-2,
  #contatos .border-bot-1,
  #contatos .border-bot-2 {
    padding: 11px;
    display: flex;
  }

  #contatos .border-top-1,
  #contatos .border-bot-1 {
    width: 108px;
    height: 58px;
  }

  #contatos .border-top-2,
  #contatos .border-bot-2 {
    width: 241px;
    height: 58px;
  }

  #contatos .border-mid-1 {
    width: 108px;
    height: 135px;
    padding: 4px;
  }

  #contatos .border-mid-2 {
    width: 241px;
    height: 135px;
  }

  #contatos .border-mid-2 p {
    font-size: 0.875rem;
    font-weight: 400;
    margin: 0;
  }

  #contatos h2 {
    color: var(--primary-color);
    font-size: 2.25rem;
  }

  #contatos img {
    width: 100px;
    height: 125px;
  }

  #contatos .border-top-2 h5 {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
  }

  #contatos .border-mid-2 p {
    font-size: 12px;
    font-weight: 400;
    margin: 0;
  }
}

/* - - - - - Tablet - - - - - - - - */
@media(max-width: 800px) {
  * {
    font-size: 12px;
  }

  /* ----- Menu Toggle ----- */


  .menu-toggle .one,
  .menu-toggle .three {
    height: 2px;
  }


  .menu-toggle {
    width: 30px;
    height: 20px;
  }


  .menu-section.on .menu-toggle .one {
    width: 80%;
    transform: rotate(45deg) translate(1px, 0px);
  }

  .menu-section.on .menu-toggle .three {
    width: 80%;
    transform: rotate(-45deg) translate(5px, -4px);
  }

  .menu-section.on .menu-toggle {
    top: 27px;
    right: 57px;
  }

  header {
    padding: 0 40px;
  }

  #home {
    gap: 60px;
    padding: 20px 40px 0 40px;
    justify-content: space-between;
    flex-direction: column;
  }

  #home .text-box {
    text-align: center;
    max-width: 90%;
  }

  #home svg {
    width: 32px;
  }

  #home .img-box {
    position: absolute;
    top: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #home .image img {
    width: 146px;
  }

  #home .border-img {
    top: -14px;
    left: -9px;
    height: 394px;
    width: 200px;
  }

  #home .border-img .top {
    height: 172.8px;
    width: 164px;
  }

  #home .border-img .bot {
    height: 76px;
    width: 164px;
  }

  .info-img {
    margin-top: 25.6px;
  }

  .info-text {
    line-height: 14.4px;
    font-size: 13px;
  }

  .info-img-box {
    gap: 8px;
  }

  .winner-project {
    width: 100%;
    padding: 30px 40px;
  }

  #home .text-box .text #subtitle {
    margin-bottom: 356px;
  }

  #home .text-box p {
    margin-bottom: 40px;
  }


  /* Winner Projects*/

  .winner-project.padding {
    padding-top: 30px;
  }

  .winner .img-winner,
  .winner-secundary .winner .img-winner {
    height: 300px;
    width: 500px;
  }

  .winner .border-winner,
  .winner-secundary .winner .border-winner {
    width: 102%;
    height: 316px;
  }

  /* All Projects*/


  .slider-group .all-projects-contact .github,
  .slider-group .all-projects-contact .linkedin {
    height: 28px;
    padding: 5px 40px;
  }

  .slider-group .all-projects-contact .github svg {
    margin: 0;
    width: 30px;
  }

  .all-projects h2 {
    margin-bottom: 80px;
  }

  main .slider-group {
    width: 100%;
  }

  .content-area .content .img-area {
    width: 500px;
    height: 300px;
    margin-bottom: 22px;
  }

  #slider .content-area .content img {
    width: 100%;
    height: 100%;
  }

  /* Depoimentos */
  .depoimentos {
    width: 100%;
    padding: 60px 40px 0 40px;
  }

  #slider2 .content-area .content {
    height: 325.6px;
    width: 496px;
    gap: 24px;
    padding: 50.4px;
  }

  #slider2 .content-area .content .img-area {
    width: 320px;
    height: 212px;
  }

  #slider2 .box-text {
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #contatos h2 {
    margin: 0;
    margin-bottom: 60px;
  }


}


/* - - - - - Mobile Grande - - - -  */
@media(max-width: 640px) {
  * {
    font-size: 12px;
  }

  /* ----- Menu Toggle ----- */


  .menu-section.on .menu-toggle {
    top: 14px;
    right: 60px;
  }

  header, footer {
    height: 50px;
    padding: 0 40px;
  }

  header .content-header a h3, footer h3 {
    font-size: 13px;
  }

  footer {
    padding: 0 10px;
    justify-content: space-between;
  }

  #home {
    gap: 120px;
    padding: 0 30px;
    flex-direction: column;
    justify-content: space-between;
  }

  #home .text-box .text #subtitle {
    margin-bottom: 380px;
  }

  #home .text-box p {
    margin-bottom: 40px;
  }

  #home .text-box {
    order: -1;
    max-width: 450px;
    text-align: center;
  }

  #home .img-box {
    position: absolute;
    top: 200px;
  }

  #home .border-img {
    top: -12px;
    left: -10px;
    height: 315.2px;
    width: 160px;
  }

  #home .border-img .top {
    height: 167.8px;
    width: 164px;
  }

  /* Winner Projects*/

  .winner-project {
    padding: 30px 40px;
  }

  .winner-project.padding {
    padding-top: 30px;
  }

  .text-description h4 {
    font-size: 22px;

  }

  .winner-project .text-description p {
    margin-bottom: 15px;

  }

  .winner-project p {
    margin-bottom: 50px;
    font-size: 1.25rem;
  }

  .winner .img-winner,
  .winner-secundary .winner .img-winner {
    height: 300px;
    width: 423px;
  }

  .winner .border-winner,
  .winner-secundary .winner .border-winner {
    width: 103%;
    height: 316px;
  }

  .content-area .content .img-area {
    width: 346px;
    height: 233px;
    margin-bottom: 22px;
  }

  #slider .owl-dots button.owl-dot,
  #slider2 .owl-dots button.owl-dot {
    height: 10px;
    width: 10px;
    border: 2px solid var(--primary-color);
    margin: 0 7px;

  }


  /* All Projects */
  .all-projects h2,
  .depoimentos h2,
  #contatos h2 {
    margin-bottom: 50px;
  }

  /* Depoimentos */
  #slider2 .content-area .content {
    height: 214.9px;
    width: 327.36px;
    gap: 15.84px;
    padding: 33.26px 20px;
  }

  #slider2 .content-area .content .img-area {
    width: 211.2px;
    height: 139.92px;
  }

  #slider2 .box-text {
    height: 172.6px;
  }

  #slider2 .box-text {
    max-width: 160px;
  }

  #slider2 .content-area .content p {
    font-size: 9px;
    font-weight: 400;
    margin: 0;
    max-width: 500px;
  }

  #slider2 .content-area .content h4 {
    margin-bottom: 5px;
  }

  .depoimentos-github svg {
    width: 40px;
  }

  .depoimentos-github svg:first-child {
    width: 15px;
  }

  .depoimentos-linkedin svg {
    width: 60px;
  }

}

/* - - - - - Mobile Pequeno - - - - */
@media(max-width: 470px) {

  * {
    font-size: 9px;
  }

  /* ----- Menu Toggle ----- */



  .menu-section.on .menu-toggle {
    top: 14px;
    right: 29px;
  }

  header, footer {
    height: 50px;
    padding: 0 10px;
  }

  header .content-header a h3, footer h3 {
    font-size: 10px;
  }

  footer {
    padding: 0 10px;
    justify-content: space-between;
  }

  header .content-header nav ul li a {
    padding: 10px 0;
    font-size: 18px;
  }

  #home {
    gap: 120px;
    padding: 0 10px;
    flex-direction: column;
    justify-content: space-between;
  }

  #home .text-box .text #subtitle {
    margin-bottom: 360px;
  }

  #home .text-box p {
    margin-bottom: 60px;
  }

  #home .text-box {
    order: -1;
    max-width: 450px;
    text-align: center;
  }

  #home .text-box a {
    font-size: 9px;
  }

  #home .text-box a, #home .text-box a:hover {
    padding: 17px 29px;
  }

  #home .img-box {
    top: 185px;
  }

  #home .border-img {
    top: -12px;
    left: -10px;
    height: 315.2px;
    width: 160px;
  }

  #home .border-img .top {
    height: 167.8px;
    width: 164px;
  }

  /* Winner Projects*/

  .winner-project {
    padding: 30px 10px;
  }

  .winner-project.padding {
    padding: 0 10px 30px 10px;
  }

  .text-description h4 {
    font-size: 20px;
  }

  .winner-project p {
    margin-bottom: 50px;
    font-size: 1.25rem;
  }

  .winner .img-winner,
  .winner-secundary .winner .img-winner {
    height: 192px;
    width: 277px;
  }

  .winner .border-winner,
  .winner-secundary .winner .border-winner {
    width: 103%;
    height: 208px;
  }

  .content-area .content .img-area {
    width: 346px;
    height: 233px;
    margin-bottom: 22px;
  }

  /* All Projects */
  .all-projects h2,
  .depoimentos h2,
  #contatos h2 {
    margin-bottom: 40px;
  }

  .content-area .content .img-area {
    width: 266px;
    height: 182px;
  }

  .slider-group .all-projects-contact .github, .slider-group .all-projects-contact .linkedin {
    height: 24px;
    padding: 5px 26px;
  }

  /* Depoimentos */
  #slider2 .content-area .content {
    height: 214.9px;
    width: 261.36px;
    gap: 15.84px;
    padding: 33.26px 15px;
  }

  #slider2 .content-area .content .img-area {
    width: 428.2px;
    height: 139.92px;
  }

  #slider2 .content-area .content p {
    font-size: 7.5px;
  }

  #slider .owl-dots button.owl-dot, #slider2 .owl-dots button.owl-dot {
    height: 8px;
    width: 8px;
    border: 2px solid var(--primary-color);
    margin: 0 5px;
  }

  .depoimentos-linkedin svg {
    width: 48px;
  }

  .depoimentos-github svg {
    width: 30px;
  }

  .depoimentos-github svg:first-child {
    width: 10px;
  }

  /* Contatos */
  #contatos {
    width: 100%;
    padding: 30px 0px;
  }

  #contatos .border-external {
    width: 299.2px;
    height: 216px
  }

  #contatos .contact-box .border-top-1,
  #contatos .border-top-2,
  #contatos .border-mid-1,
  #contatos .border-mid-2,
  #contatos .border-bot-1,
  #contatos .border-bot-2 {
    padding: 8.8px;
  }

  #contatos .border-top-1,
  #contatos .border-bot-1 {
    width: 86.4px;
    height: 46.4px;
  }

  #contatos .border-top-2,
  #contatos .border-bot-2 {
    width: 192.8px;
    height: 46.4px;
  }

  #contatos .border-mid-1 {
    width: 86.4px;
    height: 108px;
    padding: 3.2px;
  }

  #contatos .border-mid-2 {
    width: 192.8px;
    height: 108px;
  }

  #contatos .border-mid-2 p {
    font-size: 0.875rem;
  }

  #contatos h2 {
    padding-left: 10px;
    font-size: 2.25rem;
  }

  #contatos img {
    width: 80px;
    height: 100px;
  }


  #contatos .border-top-2 h5 {
    font-size: 18px;
  }

  #contatos .border-mid-2 p {
    font-size: 10px;
  }

  #contatos .linkedin svg {
    width: 64px;
  }


  #contatos .github svg {
    width: 40px;
  }

  #contatos .github a svg:first-child {
    width: 15px;
  }


}