@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');

:root {

  --back-header: #090909;
  --primary-color: #D09B73;
  --text-white: #ffffff;
  --back-button: #000000;
  --back-footer: #14120E;

  --primary-font: 'Inika', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--primary-font);
  color: var(--text-white);
}

body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75px;
  background-color: var(--back-header);
  padding: 0 150px;
  z-index: 20;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

header .content-header {
  height: 100%;
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

header .content-header a {
  text-decoration: none;
}

header .content-header a h3,
footer h3 {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 20px;
  margin: 0;
}


header .content-header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 35px;
  list-style: none;
  margin: 0;
}

header .content-header nav ul li a {
  color: var(--text-white);
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  transition: 0.2s all;
}

header .content-header nav ul li a:hover {
  color: var(--primary-color);
}

main {
  margin-top: 75px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#home {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 133px;
  padding: 110px 80px 0 80px;

  background: no-repeat url(/img/background-home.png);
  background-size: cover;
  background-position: top;
}

#home .image {
  position: relative;
}

#home .border-img {
  position: absolute;
  top: -20px;
  left: -11px;
  height: 394px;
  width: 252px;
}

#home .border-img .top {
  height: 270px;
  width: 252px;
  border: 3px var(--primary-color) solid;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom: none;

}

#home .border-img .bot {
  height: 125px;
  width: 252px;
  border: 3px var(--primary-color) solid;
  border-top: none;
}

#home .text-box {
  max-width: 570px;
}

#home .text-box .text h1 {
  color: var(--primary-color);
  font-size: 48px;
}

#home .text-box .text #subtitle {
  font-size: 36px;
  color: var(--primary-color);
  margin-bottom: 70px;
}

#home .text-box p {
  margin-bottom: 82px;
  font-size: 20px;
}

#home .text-box a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 14px;
  background-color: var(--back-button);
  padding: 21.5px 36px;
  border: 1px solid var(--primary-color);
  transition: 0.3s all;
}

#home .text-box a:hover {
  text-decoration: none;
  color: var(--back-button);
  font-weight: 700;
  background-color: var(--primary-color);
  padding: 21.5px 36px;
  border: 1px solid var(--primary-color);
}


.img-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  gap: 5px;
}

.info-img p {
  margin: 0;
}

.info-text {
  line-height: 18px;
  font: 14px;
}

.info-text p:last-child {
  font-weight: bold;
}

.info-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

/* Winner Projects */


.winner-project h2 {
  color: var(--primary-color);
  font-size: 36px;
  margin-bottom: 9px;
}

.winner-project p {
  margin-bottom: 80px;
  font-size: 20px;
}



.winner-project {
  background: no-repeat url(/img/background-category-1.png);
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 100vh;
  padding: 0 80px 0 80px;
}

/* navegation */
#winners-projects {
  position: absolute;
  top: 690px;
}

#all-projects {
  position: absolute;
  top: 2880px;
}

/*-------*/

.winner-project .category-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 29px;
}

.img-winner a {
  z-index: 20;
}

/*winner primary*/

.winner {
  position: relative;
}

.winner .img-winner {
  height: 313px;
  width: 426px;
}

.img-winner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.winner .border-winner {
  top: -10px;
  left: -6px;
  position: absolute;
  border: 3px solid var(--primary-color);
  width: 438px;
  height: 332px;
}

/*winner secundary*/
.winner-secundary .winner {
  position: relative;
}

.winner-secundary .winner .img-winner {
  width: 360px;
  height: 265px;
}

.img-winner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.winner-secundary .winner .border-winner {
  top: -8px;
  left: -5px;
  position: absolute;
  border: 3px solid var(--primary-color);
  width: 371px;
  height: 281px;
}

.text-description {
  margin-top: 20px;
  text-align: center;
}

.text-description h4 {
  color: var(--primary-color);
  font-size: 36px;
  font-weight: 400px;
}

.text-description p {
  font-size: 20px;
  font-weight: 400px;
}

.two {
  background: no-repeat url(/img/background-home.png);
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 100vh;
  padding: 0 80px 0 80px;
}

/* all projects */

.all-projects h2 {
  margin-bottom: 80px;
}

main .slider-group {
  width: 100%;
}

.content-area .content {
  background-color: var(--filter-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 30px;
}

.content-area .content .img-area {
  width: 600px;
  height: 350px;
  margin-bottom: 22px;
}

#slider .content-area .content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 40px;
}

.content-area .content p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}

.owl-dots {
  text-align: center;
}

#slider .owl-dots button.owl-dot {
  display: inline-block;
  height: 10px;
  width: 10px;
  border: 2px solid var(--primary-color);
  margin: 0 10px;
  border-radius: 50%;
}

#slider .owl-dots .owl-dot.active {
  border: none;
  background-color: var(--primary-color);
}

.conteiner+img {
  width: 100px;
}

.title-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

/* DEPOIMENTOS */

/*Slider*/

.depoimentos {
  width: 100%;
  height: 100vh;
  background: no-repeat url(/img/background-category-1.png);
  background-size: cover;
  background-position: bottom;
  padding: 0 80px;
}

.depoimentos h2 {
  margin-bottom: 80px;
}

main .slider-group {
  width: 100%;
}

#slider2 .content-area {
  max-width: 700px;
}

#slider2 .content-area .content {
  background-color: var(--filter-bg);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
  padding: 63px;
  border: 2px solid var(--primary-color);

}

.owl-carousel .owl-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

#slider2 .content-area .content .img-area {
  height: 332px;
  border: 2px solid var(--primary-color);
  margin: 0;
  background-color: black;
}

#slider2 .content-area .content .img-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;

}

#slider2 .content-area .content h4 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
  max-width: 500px;
}

#slider2 .content-area .content p {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  max-width: 500px;
}

#slider2 .owl-dots {
  text-align: center;
}

#slider2 .owl-dots button.owl-dot {
  display: inline-block;
  height: 10px;
  width: 10px;
  border: 2px solid var(--primary-color);
  margin: 0 10px;
  border-radius: 50%;
}

#slider2 .owl-dots .owl-dot.active {
  border: none;
  background-color: var(--primary-color);
}

#slider2 .conteiner+img {
  width: 100px;
}

#slider2 .title-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

#slider2 .box-text {
  height: 328px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

#slider2 .depoimentos-contact {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
}

#slider2 .container {
  margin: 0;
}

/* CONTATOS */
#contatos {
  width: 100%;
  padding-bottom: 95px;
  background: no-repeat url(/img/background-home.png);
  background-size: cover;
  background-position: top;
}

#contatos .contact-box {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

#contatos .border-external {
  position: relative;
  width: 374px;
  height: 270px;
  border: 2px solid var(--primary-color);
}

#contatos .contact-box .border-top-1,
#contatos .border-top-2,
#contatos .border-mid-1,
#contatos .border-mid-2,
#contatos .border-bot-1,
#contatos .border-bot-2 {
  position: absolute;
  border: 2px solid var(--primary-color);

  padding: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contatos .border-top-1,
#contatos .border-bot-1 {
  left: 7px;
  width: 108px;
  height: 58px;
}

#contatos .border-top-2,
#contatos .border-bot-2 {
  right: 7px;
  width: 241px;
  height: 58px;
}

#contatos .border-bot-1,
#contatos .border-bot-2 {
  bottom: 0;
  border-bottom: none;
}

#contatos .border-top-1,
#contatos .border-top-2 {
  top: 0;
  border-top: none;
}


#contatos .border-mid-1 {
  top: 25%;
  left: 7px;
  width: 108px;
  height: 135px;
  padding: 4px;
}

#contatos .border-mid-2 {
  top: 25%;
  right: 7px;
  width: 241px;
  height: 135px;
}

#contatos .border-bot-2 {
  justify-content: space-between;
}


#contatos .border-bot-2 .github a svg,
#contatos .border-bot-2 .linkedin a svg {
  transition: 0.2s ease-in-out all;
}

#contatos .border-bot-2 .github a:hover svg,
#contatos .border-bot-2 .linkedin a:hover svg {
  transform: translateY(-1px);
}

#contatos .border-top-2 h5 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

#contatos .border-mid-2 p {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

#contatos h2 {
  color: var(--primary-color);
  font-size: 36px;
  margin: 0 0 72px 80px;
}

#contatos img {
  width: 100px;
  height: 125px;
  object-fit: cover;

}



/* FOOTER */
footer {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: var(--back-footer);
}

footer p {
  color: var(--text-white);
  font-size: 14px;
  margin: 0;
}

footer .contact-footer p {
  color: var(--primary-color);
  font-size: 14px;
  margin: 0;
  line-height: 15px;
  text-align: center;
}

footer .contact-footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 10px;
}

footer .contact-footer li a {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  color: var(--text-white);
}

footer .contact-footer li a:hover {
  color: var(--primary-color);
}