@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');

:root {

  --back-header: #181621;
  --primary-color: #00B2FF;
  --text-white: #ffffff;
  --back-button: #000000;

  --primary-font: 'Inika', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--primary-font);
  color: var(--text-white);
}

body {
  display: flex;
  flex-direction: column;
}


header {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75px;
  background-color: var(--back-header);
  padding: 0 150px;
  z-index: 20;
}

header .content-header {
  height: 100%;
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

header .content-header a {
  text-decoration: none;
}

header .content-header a h3 {
  text-decoration: none;
  color: var(--text-white);
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}


header .content-header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 35px;
  list-style: none;
  margin: 0;
}

header .content-header nav ul li a {
  color: var(--text-white);
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  transition: 0.2s all;
}

header .content-header nav ul li a:hover {
  color: var(--primary-color);
}

main {
  margin-top: 75px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#home {
  height: calc(100vh - 75px);
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 122px;
  padding: 110px 80px 0 80px;

  background: no-repeat url(/img/background-inscription.png);
  background-size: cover;
  background-position: bottom;
}

#home .image {
  position: relative;
}

#home .border-img {
  position: absolute;
  top: -20px;
  left: -11px;
  height: 394px;
  width: 252px;
}

#home .border-img .top {
  height: 270px;
  width: 252px;
  border: 3px var(--primary-color) solid;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom: none;

}

#home .border-img .bot {
  height: 125px;
  width: 252px;
  border: 3px var(--primary-color) solid;
  border-top: none;
}

#home .text-box {
  max-width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home .text-box .text h1 {
  color: var(--primary-color);
  font-size: 48px;
}

#home .text-box .text #subtitle {
  font-size: 36px;
  color: var(--primary-color);
  margin-bottom: 70px;
}

#home .text-box p {
  margin-bottom: 82px;
  font-size: 20px;
  max-width: 551px;
}

#home .text-box .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
}

#home .text-box a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 14px;
  background-color: var(--back-button);
  padding: 17px 30px;
  border: 2px solid var(--primary-color);
  transition: 0.3s all;
}

#home .text-box a:last-child {
  padding: 17px 67px;
}

#home .text-box a:hover {
  color: var(--back-button);
  font-weight: 700;
  background-color: var(--primary-color);
}


.img-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}